<div ng-repeat="tech in technologies">
    <div class="row valign-middle">
      <div class="small-12 medium-3 columns">
        <fieldset class="rating">
          <i ng-click="updateRating(task['O*NET-SOC Code'], task['Task ID'], 1, 1, task)" ng-class="(task.rating>=1)?'fa fa-star fa-2x':'fa fa-star-o fa-2x'"></i>
          <i ng-click="updateRating(task['O*NET-SOC Code'], task['Task ID'], 1, 2, task)" ng-class="(task.rating>=2)?'fa fa-star fa-2x':'fa fa-star-o fa-2x'"></i>
          <i ng-click="updateRating(task['O*NET-SOC Code'], task['Task ID'], 1, 3, task)" ng-class="(task.rating>=3)?'fa fa-star fa-2x':'fa fa-star-o fa-2x'"></i>
          <i ng-click="updateRating(task['O*NET-SOC Code'], task['Task ID'], 1, 4, task)" ng-class="(task.rating>=4)?'fa fa-star fa-2x':'fa fa-star-o fa-2x'"></i>
          <i ng-click="updateRating(task['O*NET-SOC Code'], task['Task ID'], 1, 5, task)" ng-class="(task.rating>=5)?'fa fa-star fa-2x':'fa fa-star-o fa-2x'"></i>
        </fieldset>
      </div>
      <div class="small-12 medium-9 columns">
        <div class="panel" style="margin-top:30px">{{ tech['Commodity Title'] }}</div>
      </div>
    </div>
</div>
