<div ng-controller="ProposedTechnologyCtrl">
<div ng-repeat="technology in proposedTechnologies" class="large-12 columns left">
	<div class="small-3 columns">
		<div class="button-group">
			<button type="button" class="button tiny">Yes</button>
			<button type="button" class="button tiny alert">No</button>
		</div>
	</div>
	<div class="small-2 columns">
		324 votes
	</div>
	<div class="small-2 columns">
		{{ technology['category'] }}
	</div>
	<div class="small-5 columns">
		{{ technology['technology_name'] }}
	</div>
</div>

  <div class="large-12 columns left">
    <div class="small-3 columns">
      <button ng-click="showAddTechModal()" type="button" class="button small">
      	Add a Technology
      </button>
    </div>
  </div>
</div>
