<a ng-click="cancel()" class="close-reveal-modal"><i class="fa fa-times-circle fa-1x"></i></a>
<div class="  ">
  <div class="">
    <h3>Add a Task to "{{occupation.Title}}" Occupation</h3>
    <p>Lore ipsum dolor sit omet, consectetur adipiscing elit, sed do eiusmod etmpor incididunt ut labore et dolore magna aliqua.</p>
  </div>
<br>
  <form ng-submit="addTask()">
    <label>Task Description
      <textarea rows="10" cols="50" ng-model="task['task_name']"/>
    </label>
  </form>
<div align="right">
    <button ng-click="cancel()" class="button alert">Cancel</button>

    <button ng-click="addTask()" class="button ">Add to Job</button>
</div>
</div>
