
<div class="col-md-8">
  <div ng-show="showGoToResultsButton">
    <button ng-click="showResultsPage()" class="btn success">Go To Job Opportunities</button>
  </div>

  <div ng-hide="responseFromFirstAnswer">
  <div class="col-lg-12">
    <div class="ibox lazur-bg p-lg text-center num-opps-block">
          <div class="m-b-md" style="padding-top:30px;">
              <img src="images/lightbulb.svg" alt="Lightbulb">
              <h1 class="m-xs">{{opportunities}}</h1>
                <h3>{{totalOrRemaining}} Number of <br/>Opportunities in FedBizOpps</h3>
          </div>
      </div>
   </div>
</div>

<div ng-show="responseFromThirdAnswer">
  <div class="row">
    <div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div>
                <h3 class="font-bold no-margins">
                    Question 1
                </h3>
                <small>Radar Chart Graphic</small>
            </div>
                            <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="radar-graph-wrapper" style="width:90%;">
                      <canvas id="stackedChart" height="600" width="600"></canvas>
                    </div>
                  </div>

                </div>
                <button ng-click="toggleBarLegend()" class="btn doughnut-chart-button">{{barShowOrHide}} Legend</button>
                <div class="col-md-4" ng-show="barToggle">
                  <div class="radar-content-block">
                    <div id="bar-1-legend" class="dataset-block">

                                </div>
                      <div id="bar-2-legend" class="dataset-block">

                      </div>
                    </div>
                  </div>

              </div>
        </div>
    </div>
  </div>
  </div>
</div>


<div ng-show="responseFromSecondAnswer">
  <div class="row">
    <div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div>
                <h3 class="font-bold no-margins">
                    Question 1
                </h3>
                <small>Radar Chart Graphic</small>
            </div>
                            <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="radar-graph-wrapper" style="width:90%;">
                      <canvas id="doughnutChart" height="600" width="600"></canvas>
                    </div>
                  </div>

                </div>
                <button ng-click="toggleDoughnutLegend()" class="btn doughnut-chart-button">{{doughnutShowOrHide}} Legend</button>
                <div class="col-md-4" ng-show="doughnutToggle">
                  <div class="radar-content-block">
                    <div id="doughnut-legend" class="dataset-block">

                    </div>
                    </div>
                  </div>

              </div>
        </div>
    </div>
  </div>
  </div>
</div>

<div ng-show="responseFromFirstAnswer">
  <div class="col-lg-6">
    <div class="ibox lazur-bg p-lg text-center num-opps-block" style="height:400px;">
          <div class="m-b-md" style="padding-top:30px;">
              <img src="images/lightbulb.svg" alt="Lightbulb">
              <h1 class="m-xs">{{opportunities}}</h1>
              <h3>{{totalOrRemaining}} Number of <br/>Opportunities in FedBizOpps</h3>
          </div>
      </div>
  </div>
  <div class="col-lg-6">
    <div class="ibox float-e-margins pie-chart-opps">
        <div class="ibox-content" style="height:400px;">
            <div>
                <h3 class="font-bold no-margins">
                  Opportunities for <span>{{businessSize}} Businesses</span>
                </h3>

            </div>
              <div class="row">
                  <div id="pieHolder" class="col-md-12">
            <div class="row">
              <div class="col-lg-6">
                <div class="pie-graph">
                  <canvas id="pieChart" height="200"></canvas>
                </div>
              </div>
              <div class="col-lg-6 pie-legend" id="pieLegend">

              </div>



              <!--<div id="pieLegend" class="col-md-6"></div>-->

            </div>
          </div>
              </div>
        </div>
    </div>
  </div>
</div>
</div>
