
<div class="small-12 columns page-header">
  Occupation Profile
</div>
<div class="small-12 columns">
	<div class="small-12 columns occupation-title">
	 	{{occupation.Title}}
	</div>
	<div class="small-12 columns occupation-description">
		{{occupation.Description}}
	</div>
</div>

<tabset class="occupation-tabs">
  <tab heading="Tasks" class="small-6 columns">
    <div ng-include="'../../views/tasks.html'">
    </div>
  </tab>

  <tab heading="Technologies" class="small-6 columns">
    <div ng-include="'../../views/technologies.html'">
    </div>
  </tab>
</tabset>
