.navbar {
	margin-bottom: 0px;
}

.header {
	padding-left: 0px;
	padding-right: 0px;
}

.angular-mapbox-map {
  position: absolute;
  min-height: 350px !important;
  height: 95%;
  width: 95% !important;
  z-index: -1;
}

.geolocation-button {
	position: absolute;
	top: 75px;
	right: 25px;
}

.map-action-buttons {
	position: absolute;
	left: 50%;
	margin-left: -125px;
	top: 75px;
}

$dark-blue: #2c3e50;

.bottom-panel {
	position: absolute;
	background: white;
	bottom: 0px;
	width: 100%;

	.title-row {
		color: white;
		background-color: $dark-blue;
		padding-left: 10px;

		h1 {
			font-size: 18px;
		}
	}

	.detail-row {
		padding-left: 10px;
		min-height: 150px;
	}


}

#loadingIndicator {
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -25px;
  height: 50px;
  width: 50px;
  z-index: 1;
  display: none;
}
